*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #f91f38;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    display: block;
    width: 100%;
    margin: 0 auto;
    width: 25rem;
}
.btn-play {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: yellow;
    border: 4px solid blue;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.h1 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: yellow;
}
.h2 {
    color: yellow;
    padding: 1rem;
    font-size: 1.4rem;
    transition: all 1s;
}
.h2-rotate {
    transform: rotate(360deg);
}
.img {
    transition: all 2s;
    filter: drop-shadow( 2px 2px 20px rgba(0,0,0,1)) grayscale(100%) brightness(0);
}
.img-desactive {
    transition: all 2s;
    filter: drop-shadow( 2px 2px 20px rgba(0,0,0,1)) grayscale(0) brightness(1);
}
.span {
    color: yellow;
    padding: 1rem;
    font-size: 2rem;
    font-size: 3rem;
}